<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>
<div style="max-width:500px;">
    <img src="public/box.png" class="resize_box"/>
</div>
<div class="center_button">
    <div class="col s12 m6 offset-m3 center-align">
        <a class="oauth-container btn darken-4 white black-text" href="/google-auth" style="text-transform:none">
            <div class="left">
                <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
            </div>
            Continue with Google
        </a>
    </div>
</div>






</body>
<style>
    html {
        background: url("public/background.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .resize_box {
        width: 90%;
        height: auto;
        max-width: 100%;
        position: absolute;
        top: 50%;
        left: 51%;
        transform: translate(-50%, -50%);
    }
    .center_button {
        position: absolute;
        top: 50%;
        left: 51%;
        transform: translate(-50%, -50%) scale(2);
        height: auto;
        max-width: 100%;
    }
</style>
</html>
