<!DOCTYPE html>
<html>

<head>
    <title>Action OSP</title>
</head>

<body>

    <div class="center_button">
        <h1 style="color: white;"> Action OSP </h1>
        <div class="col s12 m6 offset-m3 center-align">
            <div class="row google-button">
                <img width="20px" alt="Google sign-in"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                <a href="/google-auth" style="text-transform:none">
                    Continue with Google
                </a>
            </div>

        </div>
        <img style="width: 300px; padding-top: 20px;" src="public/svg/undraw_monster.svg" alt="monster">
    </div>






</body>
<style>
    html {
        background: url("public/background.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .resize_box {
        width: 90%;
        height: auto;
        max-width: 100%;
        position: absolute;
        top: 50%;
        left: 51%;
        transform: translate(-50%, -50%);
    }

    .google-button {
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        justify-content: center;
    }


    .center_button {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 51%;
        transform: translate(-50%, -50%) scale(2);
        height: auto;
        max-width: 100%;
    }
</style>

</html>