
<!DOCTYPE html>
<html>
<head>
    <title>AAA</title>
</head>
<body>
    <p>something</p>
</body>

<style>
    html {
        background: url("public/a.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
    }
</style>
</html>
