
<!DOCTYPE html>
<html>
<head>
    <title>Personal page</title>
</head>
<body>
<div class="split left">
    <div class="left_position", style="color: white">
        <p>Hey <%=user.name%>!<p>
        <p>You can start sharing</p>
        <p>your adventures here.</p>
        <p>Try it now!</p>
    </div>
    <div class="text_position">
        <label>
            <form action="http://127.0.0.1:8001/personal-page" method="post" id="textForm">
                <textarea id="text_area" placeholder="Start sharing your thoughts!" cols="50" rows="20"></textarea>
            </form>
        </label>
        <a class="my-button" onclick="submitText()" role="button" ><span></span>Post!</a>
    </div>
</div>

<div class="split right">
    <div class="right_position">
        <p>It looks that you didn't</p>
        <p>add anything yet...</p>
    </div>
</div>

<script>
    function submitText() {
        const content = document.getElementById("text_area").value;
        console.log(content)
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "http://127.0.0.1:8001/personal-page");
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                console.log(xhr.status);
                console.log(xhr.responseText);
            }};

        console.log(JSON.stringify(content));

        let data = `{ "content":` + JSON.stringify(content) + `}`;

        xhr.send(data);
    }
</script>

</body>
<style>
    /* Split the screen in half */
    .split {
        height: 100%;
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
    }

    .left_position {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-100%, -150%);
        text-align: left;
    }

    .right_position {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        text-align: center;
    }

    .text_position {
        position: relative;
        top: 35%;
        left: 7%;
    }

    html {
        background: url("public/personal_page_side.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    body {
        font-family: Georgia, serif;
    }
    p {
        font-size: 15px;
        font-size: 2.2vw;
        line-height: 0.6;
    }
    textarea {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 10px;
        outline: none;
        resize: none;
        box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2);
        padding: 10px;
    }
    a.my-button{
        position:absolute;
        bottom:10px;
        right:165px;
        background-color: #ffffff;
        color: #000000;
        font-family: Georgia, serif;
        font-size: 19px;
        font-weight: 800;
        font-style: normal;
        text-decoration: none;
        padding: 14px 15px;
        border: 0px solid #000;
        border-radius: 10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 7px 0px #2D2D2D;
    }
    a.my-button span{
        margin-right: 15px;
        display: block;
        width: 29px;
        height: 29px;
        background-image: url("public/mail.png");
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(0deg);
    }
    a.my-button:hover{
        background-color: #f2f2f2;
    }
    a.my-button:active{
        transform: scale(0.95);
    }
    div{
        display:inline-block;
        position:relative;
    }
</style>
</html>
