<div class="container">
    <div class="container">
        <div class="row">
            <div class="col my-3">
                <div class="post" style="width: 18rem;">
                    <img src="<%=card.img%>" class="card-img-top" alt="Image">
                </div>
            </div>
        </div>

    </div>
</div>