.containerPost{
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-gap: 50px;
    justify-items: center;
    position: relative;
    margin-bottom: 50px;
}
.containerForm{
    display: grid;
    grid-gap: 20px;
    width:100%;
    justify-items: center;
    justify-self: center;
    position: absolute;
    top: 50%;
}
.post:hover{
    transform: translate(0,5px);
    background-color: rgba(3, 72, 196, 0.89);
}
.post {
    width: 60%;
    box-shadow: 5px 10px #313030;
    padding: 10px;
    background-color: rgba(69, 143, 218, 0.89);
    border-radius:7px;
    display: grid;
    height: 100%;
    justify-items: center;
}
img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 7px;
}
.rectangle {
    padding: 10px;
    display: inline-grid;
    background-color: rgb(255, 255, 255);
    border-radius:7px;
    text-align:center;
    justify-items: center;
    grid-gap: 20px;
    box-shadow: 0 20px 10px 6px rgba(0, 0, 0, 0.2);
}
.rectangle:hover{
    transform: translate(0,5px);
    box-shadow: 0 20px 10px 10px rgba(0, 0, 0, 0.2);
}
.icon {
    max-width: 100%;
    height: auto;
    width: auto\9;
}
.split {
    height: 100%;

    position: fixed;
    z-index: 1;
    top: 0;
    overflow:auto;
    margin-top:20px;
    margin-bottom:20px;

}
/* Hide scrollbar for Chrome, Safari and Opera */
.split::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.split {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.right {
    right:0;
    width: 70%;
    height: calc(100vh - 50px);
}

.left {
    left: 0;
    width: 30%;

}

.left_position {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -150%);
    text-align: left;
}

.right_position {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center;
}


html {
    background: url("../background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
body {
    font-family: Georgia, serif;
}

#content {
    text-align:left;
    background-color: #e8e8e8;
    border-color: #484747;
    border-width:0px;
    border-style:solid;
    font-size:25px;
    padding:10px;
    border-radius:7px;
}
.delete {
    box-shadow: 3px 6px 8px 2px #878787;
    background-color:#d5e4f2;
    border-radius:11px;
    border:1px solid #47b9d9;
    cursor:pointer;
    color:#474547;
    font-size:21px;
    padding:5px 15px;
    text-align: center;
    height:fit-content;
    display:block;
    width: 50%;
    justify-self: right;
}
.delete:hover {
    background-color: rgb(3, 72, 196);
}
.delete:active {
    position:relative;
    top:1px;
}
a.my-button {
    box-shadow: 3px 6px 8px 2px #878787;
    background-color:#d5e4f2;
    border-radius:11px;
    border:1px solid #47b9d9;
    cursor:pointer;
    color:#474547;
    font-size:21px;
    padding:16px 40px;
    text-decoration:none;
    text-shadow:0px 0px 0px #2f6627;
    height:fit-content;
    display:block;
    width: 50%;
}
a.my-button:hover {
    background-color: rgb(3, 72, 196);
}
a.my-button:active {
    position:relative;
    top:1px;
}

@media (max-width: 992px) {
    .container {  grid-template-columns: auto;}
}


